{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 about">
                <article class="my-5">
                    <p class="text-title">
                        Вибір власного житла- це один з найважливіших рішень у житті людини. Це не дивно, адже від
                        вибору житла залежатиме комфорт і затишок проживання в певному середовищі кожної людини.<br>Саме
                        тому перед придбанням нової квартири, потрібно обов'язково ретельно підійти до цього питання,
                        щоб не помилитися і зробити максимально правильний вибір квартири для свого подальшого життя.
                    </p>
                    <p class="main-text">
                        Наш сервіс надає можливість швидко знайти, вибрати і купити квартиру в Києві. На нашому порталі
                        ви швидко знайдете підходящі варіанти серед майже 100 тисяч пропозицій купівлі та продажу житла
                        в столиці України. Тут представлені постійно оновлювані безкоштовні оголошення продажу квартир в
                        Голосіївському, Дарницькому, Деснянському, Дніпровському, Оболонському, Печерському,
                        Подільському, Святошинському, Солом'янському і Шевченківському районах Києва, з фото,
                        віртуальними турами, описом і месцем розташування на карті Києва.
                    </p>
                    <p class="main-text">
                        Зручний пошук квартир дозволить вам вибрати і купити квартиру в Києві за різними параметрами. У
                        формі пошуку ви можете вказати: район, вулицю, кількість кімнат, площу та вартість, а у формі
                        розширеного пошуку ще тип (серію) будинку та якість ремонту. Таким чином, ви суттєво заощадите
                        свій час на пошук відповідного варіанту для покупки житла, виключивши оголошення, які не
                        відповідають вашим потребам. Ціна квартири залежить від місця розташування, загальної площі
                        житла, кількості кімнат, інфраструктури району та багатьох інших факторів, тому щоб швидко
                        знайти підходящі варіанти потрібно визначитися з основними параметрами житла.
                    </p>
                    <p class="main-text">
                        Для вашої зручності на порталі оголошення про продаж квартир згрупували за кількістю кімнат:
                        однокімнатні, двокімнатні і трикімнатні квартири в Києві, щоб ви могли зразу перейти до
                        перегляду пропозицій, які вас цікавлять. Також ви одразу можете дізнатися ціни на квартири в
                        Києві на масивах Печерськ, Оболонь, Позняки, Троєщина, Виноградар, Поділ, також і в інших
                        частинах столиці, в центрі чи на окраїні Києва. Все залежить від ваших можливостей і побажань.
                        Якщо ж вас цікавлять лише нові квартири в новобудовах Києва, радимо скористатися розділом
                        «Новобудови в Києві», де ви знайдете квартири від забудовника з описом кожного житлового
                        комплексу.
                    </p>
                    <p class="main-text">
                        Досить часто продаж квартир в Києві відбувається за допомогою агентства нерухомості. Однак,
                        можна купити квартиру в Києві без посередників, безпосередньо у господаря «гостинки» чи елітних
                        апартаментів. На порталі «Столична нерухомість» господарі житла самостійно розміщують власні
                        оголошення про продаж квартири. У кожному разі, купуючи квартиру в Києві через посередників або
                        безпосередньо у господарів, варто пам'ятати, що житлова нерухомість в Києві була і залишається
                        вигідним і надійним капіталовкладенням.
                    </p>
                </article>
                <img src="img/about/about.jpg" alt="">
            </div>
        </div>
    </div>
</section>

{% endblock %}