{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="select_apartment">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="text-title upper">
                    Вибір власного житла- це один з найважливіших рішень у житті людини. Це не дивно, адже від вибору
                    житла залежатиме комфорт і затишок проживання в певному середовищі кожної людини.<br>Саме тому перед
                    придбанням нової квартири, потрібно обов'язково ретельно підійти до цього питання, щоб не помилитися
                    і зробити максимально правильний вибір квартири для свого подальшого життя.
                </p>
            </div>
            <!-- Галерея------------------------------- -->
            <div class="col-12 galery">
                <div class="main-apartment">
                    <div class="right"> <img src="{% static 'img/apartments/right.png' %}" /> </div>
                    <img src="{{ apartment.photo_0.url }}" width="100%" alt="" id="main">
                    <div class="left"> <img src="{% static 'img/apartments/left.png' %}" /> </div>
                </div>
            </div>
            <div class="hidden">
                <div class="slike">
                    <img src="{{ apartment.photo_0.url }}" width="100%" alt="" class="small-slike">
                    <img src="{{ apartment.photo_1.url }}" width="100%" alt="" class="small-slike">
                    <img src="{{ apartment.photo_2.url }}" width="100%" alt="" class="small-slike">
                    <img src="{{ apartment.photo_3.url }}" width="100%" alt="" class="small-slike">
                    <img src="{{ apartment.photo_4.url }}" width="100%" alt="" class="small-slike">
                    <img src="{{ apartment.photo_5.url }}" width="100%" alt="" class="small-slike">
                    <img src="{{ apartment.photo_6.url }}" width="100%" alt="" class="small-slike">
                    <img src="{{ apartment.photo_7.url }}" width="100%" alt="" class="small-slike">
                </div>
            </div>
            <!-- --------------------------------------------------------- -->
        </div>
    </div>
    <div class="container">
        <div class="row flat--bcg">
            <div class="offset-1 col-2 title">
                <p>Місто:</p>
                <p>Тип житла:</p>
                <p>Загальна площа:</p>
                <p>Житлова площа:</p>
                <p>Кімнат:</p>
                <p>Поверх:</p>
            </div>
            <div class="col-1 name">
                <p>{{ apartment.city }}</p>
                <p>{{ apartment.apartment_type }}</p>
                <p>{{ apartment.square_all }}м<sup>2</sup></p>
                <p>{{ apartment.square_live }}м<sup>2</sup></p>
                <p>{{ apartment.rooms }}</p>
                <p>{{ apartment.floor }}</p>
            </div>
            <div class="col-7">
                <p class="main-text">{{ apartment.description }}</p>
                <p class="price"><span class="name-big">Вартість</span> <span class="title-big">{{ apartment.price }}
                        тис.дол</span></p>
            </div>
        </div>
    </div>
</section>

{% endblock %}