{% extends 'base.html' %} {% load static %} {% block content %}
<section class="apartments">
  <div class="container">
    <div class="row">
      {% if apartments %}
      <div class="col-12">
        <p class="text-title upper">
          Вибір власного житла- це один з найважливіших рішень у житті людини.
          Це не дивно, адже від вибору житла залежатиме комфорт і затишок
          проживання в певному середовищі кожної людини.<br />Саме тому перед
          придбанням нової квартири, потрібно обов'язково ретельно підійти до
          цього питання, щоб не помилитися і зробити максимально правильний
          вибір квартири для свого подальшого життя.
        </p>
      </div>
      {% for apartment in apartments %}
      <div class="col-lg-6 col-sm-12">
        <img src="{{ apartment.photo_0.url }}" />
      </div>
      <div class="offset-lg-1 col-lg-5 col-sm-12 info">
        <h5>{{ apartment.title }}</h5>
        <div class="flat--bcg">
          <div>
            <p>
              <span class="title">Місто:</span
              ><span class="name">{{ apartment.city }}</span>
            </p>
            <p>
              <span class="title">Площа:</span
              ><span class="name">{{ apartment.square_all }}м<sup>2</sup></span>
            </p>
          </div>
          <div>
            <p>
              <span class="title">Тип житла:</span
              ><span class="name">{{ apartment.apartment_type }}</span>
            </p>

            
          </div>
        </div>
          <!-- <div class="btn">
            <form action="{% url 'estatelist'%}" method="POST">
                {% csrf_token %}
                <input class="btn--show_all" type="submit"
                value="В улюблені>>" name="is_favorite">
            </form> -->
        <div class="row two">
            {% if user.is_authenticated %}
            <div class="btn ">
            <form action="{% url 'favorite' %}" method="POST" >
                {% csrf_token  %}
                <input class="btn-submit" type="submit" value="Зберегти в обране" name="favorite"/>
                <input type="hidden" name="apartment_id" value="{{ apartment.id }}"/>
            </form>
            </div>
            {% endif %}

          <div class="btn">
            <button class="btn--forward more">
              <a href="{% url 'apartment' apartment.id  %}">Більше>></a>
            </button>
          </div>
        </div>
          
      </div>
      {% endfor %} {% else %}
      <div class="col">Нічого не продають</div>
      {% endif %}
    </div>
    <div class="col-12 space">
      <div class="pagination">
        <span class="step-links">
          <nav aria-label="Page navigation example ">
            <ul class="pagination">
              {% if apartments.has_previous %}
              <li class="page-item">
                <a href="?page=1" class="page-link">&laquo; first</a>
              </li>
              <li class="page-item">
                <a
                  href="?page={{ apartments.previous_page_number }}"
                  class="page-link"
                  >previous</a
                >
              </li>
              {% endif %}

              <span class="current">
                Page {{ apartments.number }} of {{
                apartments.paginator.num_pages }}.
              </span>

              {% if apartments.has_next %}
              <li class="page-item">
                <a
                  href="?page={{ apartments.next_page_number }}"
                  class="page-link"
                  >next</a
                >
              </li>
              <li class="page-item">
                <a
                  href="?page={{ apartments.paginator.num_pages }}"
                  class="page-link"
                  >last &raquo;</a
                >
              </li>
              {% endif %}
            </ul>
          </nav>
        </span>
      </div>
    </div>
  </div>
</section>

{% endblock %}
