{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="home">
    <div class="main-fluid">
        {% include 'partials/_allerts.html' %}
        <div class="choice_of_housing">
            <div class="container">
                <div class="row">
                    <div class="col-12 text">
                        <h1>Підбираємо <span class="yellow">житло</span> під <br> кожну особистість</h1>
                        <p class="text-title">Вибір власного житла - це один з найважливіших рішень у житті людини. Це
                            не дивно, адже від вибору житла залежатиме комфорт і затишок проживання в певному середовищі
                            кожної людинию.
                            <br>
                            Саме тому перед придбанням нової квартири, потрібно обов'язково ретельно підійти до цього
                            питання, щоб не помилитися і зробити максимально правильний вибір квартири для свого
                            подальшого життя.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="housing">
            <div class="container">
                <div class="row">
                    <div class="col-3 main_smart">
                        <div class="yellow_circle ">
                            <img src="{{ STATIC_PREFIX }}img/Vector Smart Object.png">
                        </div>
                        <div class="main_smart_div">
                            <h4>Продаж квартир</h4>
                            <p class="text-title">Ми підберемо квартиру на любий смк в районі, який вас цікавить</p>
                        </div>
                    </div>
                    <div class="col-3 main_smart">
                        <div class="yellow_circle">
                            <img src="{{ STATIC_PREFIX }}img/Vector Smart Object_2.png">
                        </div>
                        <div class="main_smart_div">
                            <h4>Новобудови</h4>
                            <p class="text-title">Постійне оновлення ринку, тільки надійні забудовники</p>
                        </div>
                    </div>
                    <div class="col-3 main_smart">
                        <div class="yellow_circle">
                            <img src="{{ STATIC_PREFIX }}img/Vector Smart Object_3.png">
                        </div>
                        <div class="main_smart_div">
                            <h4>Житлові будинки</h4>
                            <p class="text-title">Окремий будинок - мрія кожної родини. Найкращі будинки на будь який
                                смак</p>
                        </div>
                    </div>
                    <div class="col-3 main_smart">
                        <div class="yellow_circle">
                            <img src="{{ STATIC_PREFIX }}img/Vector Smart Object_4.png">
                        </div>
                        <div class="main_smart_div">
                            <h4>Елітне житло</h4>
                            <p>Підбір індивідуального житла для кожної особистості</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 btn">
                <button class="btn--forward"> Більше >> </button>
            </div>
            <div class="choice">
                <div class="container">
                    <div class="d-flex justify-between">
                        <div class="col-6 order-img d-flex justify-start">
                            <div class="border"></div>
                            <img src="{{ STATIC_PREFIX }}img/foto.png">
                        </div>
                        <div class="col-6 order-options">
                            <h2>Зробіть <span class="yellow">вибір</span></h2>
                            <select>
                                <option disabled selected>Місто</option>
                                <option></option>
                            </select>
                            <select>
                                <option disabled selected>Тип житла</option>
                                <option></option>
                            </select>
                            <select>
                                <option disabled selected>Площа</option>
                                <option></option>
                            </select>
                            <select>
                                <option disabled selected>Вартість</option>
                                <option></option>
                            </select>
                            <div class="d-flex col-12 justify-end">
                                <button class="btn--show_all">Показати все</button>
                                <button class="btn--forward">Вперед >></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="advantages">
                    <h2 class="col-12">деякі наші <span class="yellow">переваги</span></h2>
                    <p class="text-title">Переконайтеся в тому, що ми найкращі, ряд переваг над нашими конкурентами</p>
                </div>
                <div class="advantages_list d-flex col-12 flex-wrap">
                    <div class="row col-12">
                        <div class="col-4 d-block">
                            <img src="{{ STATIC_PREFIX }}img/individual approach.png" alt="in_pid" />
                            <h4>індивідуальний підхід</h4>
                        </div>
                        <div class="col-4 d-block">
                            <img src="{{ STATIC_PREFIX }}img/the highest standards.png" alt="high_standarts" />
                            <h4>найвищі стандарти</h4>
                        </div>
                        <div class="col-4 d-block">
                            <img src="{{ STATIC_PREFIX }}img/lawyers support.png" alt="yur_support" />
                            <h4>юридична підтримка</h4>
                        </div>
                    </div>
                    <div class="row col-12">
                        <div class="col-4 d-block">
                            <img src="{{ STATIC_PREFIX }}img/flexib prices.png" alt="diapason_tsin" />
                            <h4>гнучкий діапазон цін</h4>
                        </div>
                        <div class="col-4 d-block">
                            <img src="{{ STATIC_PREFIX }}img/money b.png" alt="garantiya" />
                            <h4>гарнатія повернення <br> коштів</h4>
                        </div>
                        <div class="col-4 d-block">
                            <img src="{{ STATIC_PREFIX }}img/serv.png" alt="24-7-servise" />
                            <h4>24/7 обслуговування <br> замовників</h4>
                        </div>
                        <button class="btn--forward">Більше >></button>
                    </div>
                </div>
            </div>
            <div class="container lightgrey">
                <h2>ми пропонуємо<br>
                    <span class="yellow">житло таких рівнів</span></h2>
                <p class="text-title">Ми допоможемо підібрати елітне житло різних рівнів на будь який <br>смак для
                    найвибагливіших замовників</p>
                <div class="house_level d-flex justify-evently">
                    <div id="standart">
                        <h3>STANDART</h3>
                        <img src="{{ STATIC_PREFIX }}img/standart-home.png" alt="standart_home">
                        <button class="btn--forward">Підібрати</button>
                    </div>
                    <div id="luxory">
                        <h3>LUXURY</h3>
                        <img src="{{ STATIC_PREFIX }}img/luxury-homes-in-texas.png" alt="luxury_home">
                        <button class="btn--forward">Підібрати</button>
                    </div>
                    <div id="premium">
                        <h3>PREMIUM</h3>
                        <img src="{{ STATIC_PREFIX }}img/premium-house.png" alt="premium_home">
                        <button class="btn--forward">Підібрати</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}