{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 offer">
            <p class="text-title">
                Вибір власного житла- це один з найважливіших рішень у житті людини. Це не дивно, адже від вибору житла
                залежатиме
                комфорт і затишок проживання в певному середовищі кожної людини.<br>Саме тому перед придбанням нової
                квартири,
                потрібно обов'язково ретельно підійти до цього питання, щоб не помилитися і зробити максимально
                правильний вибір
                квартири для свого подальшого життя.
            </p>
            <p class="main-text">
                Наш сервіс надає можливість швидко знайти, вибрати і купити квартиру в Києві. На нашому порталі ви
                швидко знайдете
                підходящі варіанти серед майже 100 тисяч пропозицій купівлі та продажу житла в столиці України. Тут
                представлені
                постійно оновлювані безкоштовні оголошення продажу квартир в Голосіївському, Дарницькому, Деснянському,
                Дніпровському, Оболонському, Печерському, Подільському, Святошинському, Солом'янському і Шевченківському
                районах
                Києва, з фото, віртуальними турами, описом і месцем розташування на карті Києва, залишається вигідним і
                надійним капіталовкладенням.
            </p>
        </div>
    </div>
</div>



<main class="home">
    <div class="main-fluid">
        <div class="housing">
            <div class="container">
                <div class="row">
                    <div class="col-3 main_smart">
                        <div class="yellow_circle">
                            <img src="{% static '/img/Vector Smart Object.png' %}">
                        </div>
                        <div class=" main_smart_div">
                            <h4>Продаж квартир</h4>
                            <p class="text-title">Ми підберемо квартиру на любий смк в районі, який вас цікавить</p>
                        </div>
                    </div>
                    <div class="col-3 main_smart">
                        <div class="yellow_circle">
                            <img src="{% static '/img/Vector Smart Object_2.png' %}">
                        </div>
                        <div class="main_smart_div">
                            <h4>Новобудови</h4>
                            <p class="text-title">Постійне оновлення ринку, тільки надійні забудовники</p>
                        </div>
                    </div>
                    <div class="col-3 main_smart">
                        <div class="yellow_circle">
                            <img src="{% static '/img/Vector Smart Object_3.png' %}">
                        </div>
                        <div class="main_smart_div">
                            <h4>Житлові будинки</h4>
                            <p class="text-title">Окремий будинок - мрія кожної родини. Найкращі будинки на будь який
                                смак</p>
                        </div>
                    </div>
                    <div class="col-3 main_smart">
                        <div class="yellow_circle">
                            <img src="{% static '/img/Vector Smart Object_4.png' %}">
                        </div>
                        <div class="main_smart_div">
                            <h4>Елітне житло</h4>
                            <p>Підбір індивідуального житла для кожної особистості</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 btn">
                <button class="btn--forward"> Більше >> </button>
            </div>
        </div>
</main>


<div class="container">
    <div class="row">
        <div class="col-12 offer">
            <p class="main-text">
                1) Житло у центрі міста – економія часу та якісний відпочинок. Житло, розташоване в серці міста – це,
                перш за все,
                безліч зекономленого часу та зусиль на добирання. Із ЖК «Монако» до площі Ринок за декілька хвилин можна
                добратися
                пішки. Та і прогулянка центром – значно приємніша, аніж стояння в заторах. Ще однією перевагою для
                мешканців житла в
                центрі є розвинена інфраструктура. Так, робити закупи майбутні мешканці апартаментів зможуть у ТЦ
                «ForumLviv» та
                «Магнус», на міських ринках «Добробут» та «Краківський». А от для дозвілля варіантів в центрі міста
                безліч. Тут
                неподалік від дому і театри, і кінотеатри, і затишні кав'ярні та ресторани, і міські свята та фестивалі,
                що здебільшого
                проводяться на центральних площах міста, тощо.
            </p>
            <p class="main-text">
                2) Облаштування прибудинкової території. Окрім розташування, суттєве значення у визначенні якості житла
                має також
                облаштування прибудинкової території – місця, де мешканці могли б проводити свій вільний час. У випадку
                житлового
                будинку на вул.Куліша 36 (новобудови ЖК «Монако»), незважаючи на ущільнену забудову в центральній
                частині міста, на
                ділянці окрім самого будинку передбачені ще і відпочинкові майданчики та зони озеленення. Будинок
                відгороджує цю
                територію від шуму вулиці, створюючи затишний внутрішній дворик – чудове місце для відпочинку з рідними
                та спілкування
                із сусідами.
            </p>
            <p class="main-text">
                3) Красивий будинок, гарний вид з вікна та приємне сусідство. У плануванні внутрішнього простору та
                зовнішнього вигляду
                елітного житла, архітектори прискіпливі до деталей. До прикладу, квартири в будинку ЖК «Монако» мають
                зручне планування
                внутрішнього простору та відповідають сучасним вимогам новобудов. Великі віконні пройоми забезпечують
                житлові приміщення
                якісним природнім освітленням. До слова, вікна передбачаються з подвійним склопакетом для збільшення
                енергоефективності
                та покращення шумоізоляційних характеристик.
            </p>
        </div>
        <div class="col-12 img_offer">
            <img src="{% static '/img/Layer 41.png' %}">
        </div>
    </div>
</div>

{% endblock %}