<footer>
    <div class="container-fluid">
        <div class="container">
            <nav class="row justify-content-center py-2 menu-footer">
                <a href="#" class="col-auto mx-4">Квартири</a>
                <a href="#" class="col-auto mx-4">Будинки</a>
                <a href="#" class="col-auto mx-4">Новобудови</a>
                <a href="#" class="col-auto mx-4">Елітне житло</a>
            </nav>
        </div>
    </div>
    <div class="container-fluid align-items-center d-flex">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <article class="col-3 pr-5">
                    <header class="mb-4">
                        Lorem <span class="yellow">Ipsum</span>
                    </header>
                    <main class="link-footer">
                        <a href="#">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit. Integer efficitur lectus et felis
                            dapibus,
                            euismod pretium nisi iaculis. Sed non sagittis ex Duis id commodo lorem.
                        </a>
                    </main>
                </article>
                <article class="col-3 pr-5">
                    <header class="mb-4">
                        Lorem <span class="yellow">Ipsum</span>
                    </header>
                    <main class="link-footer">
                        <a href="#">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit. Integer efficitur lectus et felis
                            dapibus,
                            euismod pretium nisi iaculis. Sed non sagittis ex Duis id commodo lorem.
                        </a>
                    </main>
                </article>
                <article class="col-3 pr-5">
                    <header class="mb-4">
                        Lorem <span class="yellow">Ipsum</span>
                    </header>
                    <main class="link-footer">
                        <a href="#">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit. Integer efficitur lectus et felis
                            dapibus,
                            euismod pretium nisi iaculis. Sed non sagittis ex Duis id commodo lorem.
                        </a>
                    </main>
                </article>
                <article class="col-3 pr-5">
                    <header class="mb-4">
                        Lorem <span class="yellow">Ipsum</span>
                    </header>
                    <main class="link-footer">
                        <a href="#">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit. Integer efficitur lectus et felis
                            dapibus,
                            euismod pretium nisi iaculis. Sed non sagittis ex Duis id commodo lorem.
                        </a>
                    </main>
                </article>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container">
            <nav class="row justify-content-between py-3 menu-footer">
                <a href="index.html" class="col-auto">Головна</a>
                <a href="about.html" class="col-auto">Про нас</a>
                <a href="guarantee.html" class="col-auto">Гарантії</a>
                <a href="#" class="col-auto">Що пропонуємо</a>
                <a href="#" class="col-auto">Замовити</a>
                <a href="#" class="col-auto">Ціни</a>
                <a href="#" class="col-auto">Відгуки</a>
                <a href="discounts.html" class="col-auto">Знижки</a>
                <a href="#" class="col-auto">Контакти</a>
            </nav>
        </div>
    </div>
</footer>