{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<header>
    <div class="container-fluid header_2">

        <div class="header_2_part_1">
        </div>

        <div class="header_2_part_2">
            <div class="container">
                <div class="row">
                    <div class="col-5 logo">
                        <a href="index.html">
                            <img src="{{ STATIC_PREFIX }}img/Logo.png" alt="Logo">
                            <span>GREAT <br> DECISION</span>
                        </a>
                    </div>
                    <div class="col-7 contact">
                        <div>
                            <img src="{{ STATIC_PREFIX }}img/phone.png" alt="Phone">
                            <p>Tel + 380 111 8011</p>
                        </div>
                        <div>
                            <img src="{{ STATIC_PREFIX }}img/mail.png" alt="Mail">
                            <p>Email: exclusivedirection@ade.com</p>
                        </div>
                        <div class="login">
                            <img src="{{ STATIC_PREFIX }}img/login.png" alt="Login">
                            <a href="#">Кабінет</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header_2_part_3">
            <div class="container">
                <div class="row">
                    <div class="col-12  menu">
                        <a {% if "/" == request.path %} class="active" {% endif %} href="{% url 'index' %}">Головна</a>
                        <a {% if "about" == request.path %} class="active" {% endif %} href="{% url 'about' %}">Про
                            нас</a>
                        <a href="guarantee.html">Гарантії</a>
                        <a {% if "we_offer" == request.path %} class="active" {% endif %} href="{% url 'we_offer' %}">Що
                            пропонуємо</a>
                        <a href="">Замовити</a>
                        <a href="">Ціни</a>
                        <a href="">Відгуки</a>
                        <a href="discounts.html">Знижки</a>
                        <a href="">Контакти</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="header_2_part_4">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>
                            {{ header_h1|safe }}
                        </h1>
                        <p>
                            {{ header_p|safe }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>