{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/main.css'  %}">
    <link rel="stylesheet" href="{% static 'css/custom.css'  %}">
</head>

<body>

    {% if header_h1 %}
    <!-- якщо така змінна існує (не головна сторінка) - виводим внутрішній хедер  -->
    {% include 'partials/_header_internal.html' %}
    {% else %}
    {% include 'partials/_header.html' %}
    {% endif %}
    {% block content  %} {% endblock %}
    {% include "partials/_corousel.html" %}
    {% include "partials/_footer.html" %}
    <script src="{% static 'js/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/galery_apartment.js' %}"></script>
    <script src="{% static 'https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js' %}"></script>
    <script src="{% static 'js/alerts.js' %}"></script>


    
</body>

</html>